.plus-box, .minus-box{
    float: left;
    height: 40px;
    width: 40px;
    border: 2px #000 solid;
    border-radius: 50%;

    @media(max-width: 767px) {
        height: 25px;
        width: 25px;
    }

    &:hover{
        cursor: pointer;
        background: #000;

        .minus, .plus{
            fill: #fff;
        }
    }
}

.plus-box{
    .plus{
        position: relative;
        top: 8px;
        left: 8px;

        @media(max-width: 767px) {
            width: 16px;
            height: 16px;
            top: 4px;
            left: 4px;
        }
    }
}

.minus-box{
    .minus{
        position: relative;
        top: 8px;
        left: 8px;

        @media(max-width: 767px) {
            width: 16px;
            height: 16px;
            top: 4px;
            left: 4px;
        }
    }
}

.bag-box{
    float: left;

    .bag-svg{
        width: 90px;

        @media(max-width: 767px) {
            width: 70px;
        }
    }
}

.checked-box{
    max-width: 70px;
    margin: 0 auto 14px;
    
    @media(max-width: 767px) {
        max-width: 50px;
    }
}
